body {
  background: #e6522d;
  background-color: #052c05;
}

h1 {
   font-family: Arial;
   font-size: 3em;
}

p {
   font-family:cursive;
   font-size: 1.5em;
   color: bisque;
}

a {
   color: white;
}
